<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.longnguyen.beautytodo">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_app"
            android:name="com.longnguyen.beautytodo.app.App"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_app"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.longnguyen.beautytodo.feature.welcome.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.longnguyen.beautytodo.feature.login.LoginActivity"/>

        <activity android:name="com.longnguyen.beautytodo.feature.signup.SignUpActivity"/>

        <activity android:name="com.longnguyen.beautytodo.feature.list.ListActivity"/>

        <activity android:name="com.longnguyen.beautytodo.feature.list.ListDetailActivity"/>

    </application>

</manifest>